.market {
  /* padding: 100px; */
  padding-left: 100px;
  padding-top: 1px;
  padding-right: 100px;
  padding-bottom: 100px;
  background: #f6f1eb;
}

.market h2 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  margin-bottom: 40px;
}

.market-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
